header{
    border: 1px solid #c9c9c9;
}
.sidebar{
    position: fixed;
    margin-top: 50px;
    padding: 25px;
    width: 250px;
    height: calc(100% - 50px);
    border-right: 1px solid #c9c9c9;
}
.wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search{
    display: flex;
    width: 100%;
    position: relative;
}
.searchTerm {
    width: 100%;
    border: 1px solid #1c1c1c;
    border-right: none;
    padding: 7px;
    border-radius: 10px 0 0 10px;
    outline: none;
}
.searchButton {
    padding: 7px;
    border: 1px solid #1c1c1c;
    background: #1c1c1c;
    text-align: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
}
.notice__container{
    position: absolute;
    top: 100px;
    left: 300px;
    display: flex;
    flex-wrap: wrap;
}
.card__container{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 50px;
}
.notice-card {
    min-width: 300px;
    max-width: 700px;
    min-height: 250px;
    max-height: 600px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
}
.notice-card h2 {
    text-align: center;
}
.notice-card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#0284ff, #2600ff);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}
.notice-card .general {
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-left: 10rem;
    padding-top: 0;
}
.notice-card .card__description {
    width: auto;
    max-width: 1175px;
    min-height: 250px;
    max-height: 550px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: pre-wrap;
}
.notice-card .card-boton{
    margin-left: 0.6rem;
    margin-top: 2rem;
}