.form__container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    display: flex;
    padding: 50px;
    background: #FAFAFA;
    z-index: -1;
}
label,input{
    display: block;
    width: 100%;
}
input{
    margin-bottom: 20px;
    padding: 15px;
    outline: none;
    border: 1px solid #EDEDED;
    background: #fff;
}
input[type="submit"]{   
    border-radius: 5px;
    background: #74A8DA;
    border: none;
    cursor: pointer;
}
@media (max-width: 700px){
    .form__container{
        max-width: 300px;
    }
    .form-group{
        width: 200px;
    }
}
@media (max-width: 500px){
    .form__container{
        width: 220;
        padding: 20px;
    }
    .form-group{
        width: 100%;
    }
}